* {
  font-family: "Helvetica", "Arial", "san-serif";
}

body {
  padding: 0 30px 0 30px;
}

header {
  height: 100px;
  border-bottom: 1px solid #ccc;
}

header nav {
  float: right;
}

nav ul {
  margin: 40px 0 0 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #007bff;
  font-size: 18px;
}

#header a:hover{
  text-decoration: underline;
}

nav a:hover {
  text-decoration: underline;
  color: #0056b3;
  font-size: 18px;
}

h3 a{
  text-decoration: none;
  color: grey;
  font-size: 25px;
}



main{
  margin-top: 20px;
}

div.jumbotron {
  border-radius: 5px;
  background-color: #e9ecef;
  padding: 10px;
  text-align: center;
}
div.questions{
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
}

div.questions h4{
  font-size: 30px;
  margin-bottom: 10px;
}

div.questions p{
  margin-top: 30px;
}

div.questions a.btn{
  border-radius: 5px;
  color: #FFF;
  background-color: #007bff;
  border-color: #007bff;
  text-decoration: none;
  padding: 18px;
  font-size: 20px;
}

div.questions a.btn:hover{
  background-color: #0069d9;
  border-radius: 5px;
  color: #FFF;
  border-color: #0069d9;
  text-decoration: none;
  padding: 18px;
  font-size: 20px;
}

.jumbotron h1{
  font-size: 60px;
}

.jumbotron p {
  font-size: 20px;
  padding: 0 40px 0 40px;
  line-height: 40px;
}

footer{
  border-top: 1px solid #ccc;
  margin-top: 80px;
  padding-top: 20px;
  color: #CCC;
}
